<div class="container-fluid">
    <div class="row">
        <a (click)="goBack()"><span class="fa-stack fa-2x">
                <i class="fa fa-arrow-left fa-stack-2x"></i>
            </span></a>
    </div>
    <hr />
    <div *ngIf="topCast.length>0" class="row">
        <h2>Top Cast for "{{movieName}}"</h2>
        <div class="col-md-2" *ngFor="let cast of topCast">
            <a (click)="viewByCast(cast['id'])">
                <img border="0" style="border-radius: 40%; cursor: pointer;" alt="no-image" src="https://image.tmdb.org/t/p/w500/{{cast['photo']}}" width="150px">
            </a>
            <p><strong>{{cast['name']}}</strong> as {{cast['character']}}</p>
        </div>
    </div>
    <hr />
    <div *ngIf="similarKeywords.length>0" class="row">
        <h3>We found the following keywords linked to <strong>{{movieName}}</strong>, click on any to get the respective
            recommendations!</h3>
        <div class="col-md-3" *ngFor="let kwd of similarKeywords">
            <button class="search-button" mat-stroked-button color="primary"
                (click)="searchSimilar(kwd.id)">{{kwd.name}}</button>
        </div>
        <div class="col-md-3">
            <button class="search-button" mat-stroked-button color="accent" (click)="searchByGenre()">Show by
                Genres</button>
        </div>
    </div>
    <div *ngIf="similarMovieList.length>0" class="row">
        <div class="col-md-4" *ngFor="let movie of similarMovieList">
            <figure class="image-block">
                <img src="https://image.tmdb.org/t/p/w500/{{movie['poster']}}" alt="" />
                <figcaption>
                    <h3>
                        {{movie['title']}}
                    </h3>
                    <p><strong>Release Date:</strong>{{movie['releaseDate']}}</p>
                    <p><strong>Rating:</strong>{{movie['rating']}}</p>
                    <p>{{movie['overview']}}</p>
                    <button (click)="viewProviders(movie['id'])">
                        View Providers
                    </button>
                    <div *ngIf="providers.length>0 && movie['id'] == fetchedProviderFor">
                        <p>Available on:</p>
                        <div *ngFor="let prov of providers">
                            <p>{{prov}}</p>
                        </div>
                    </div>
                    <div *ngIf="!hasProvider && movie['id'] == fetchedProviderFor">
                        <p>No Providers Found!</p>
                    </div>
                </figcaption>
            </figure>
        </div>
    </div>
</div>